<div class = "bottem-panel">
  <div class = "bottem-panel-text" style="display:flex;align-items:center;">
    <div style="display: inline-block; float: left; width: 75%;">
      <div>
        <p>pyralab.org is a website operated by han shu.</p>
        <p>If you are interested in my work, please feel free to contact me.</p>
        <p>e-mail address: <a href="mailto: {{site.author.email}}">{{site.author.email}}</a></p>
        <p>github home page: <a href="https://github.com/pyralab-org">link</a></p>
      </div>
      <p class="copyright">© 2022 pyralab.org</p>
    </div>
    <div style="display: inline-block; float: right; width: 25%;">
      <img decoding="async" style="height: auto;" title="logo" src="{{site.svg_link}}">
    </div>
  </div>
</div>
