<div class = "bottem-panel">
  <div class = "bottem-panel-text" style="display:flex;align-items:center;">
    <div style="display: inline-block; float: left; width: 75%;">
      <div style="margin-buttom: 8px;">
        <p>Pyralab is owned and operated by Han Shu.</p>
        <p>You can find all my sub-sites and their detailed information on this page.</p>
        <p>My works are available for your exploration and enjoyment, and suggestions are welcome. I would be happy to hear from you if you are interested in what I do.</p>
        <p>e-mail address: <a href="mailto: {{site.author.email}}">{{site.author.email}}</a></p>
        <p>github home page: <a href="https://github.com/pyralab-org">link</a></p>
      </div>
      <p class="copyright">© 2022 pyralab.org</p>
    </div>
    <div style="display: inline-block; float: right; width: 25%;">
      <img decoding="async" style="height: auto;" title="logo" src="{{site.svg_link}}">
    </div>
  </div>
</div>
